* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
}

#main-div
{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    padding-left: 20px;

}

#pdf-to-word
{
  margin-top: 30px;
  margin-bottom: 30px;
    

}

#word-to-pdf
{
  margin-bottom: 30px;
  padding: 0px;
}


#pdf-compressor
{
  margin-bottom: 30px;
  padding: 0px;
}

span{
    height: 60px;
    display: flex;
    padding: 10px 10px;
    align-items: center;
}

.buttonStyles
{
 
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.buttonPtW {
    background-color: #4CAF50; 
  
  }

  .buttonWtP {
    background-color: #008CBA; 
  
  }

  .buttonPDFC
  {
    background-color: #B8C71B;
    padding:15px 21px;
  }

  .buttonIMGC
  {
    background-color: #F3391D;
    padding:15px 21px;

  }




  @media screen and (max-width: 700px) {

   
    #main-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #pdf-to-word
{
   margin-bottom: 20px;
   margin-right: 0px;

}
    

  }