* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
}

#main-div
{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    padding-left: 20px;

}

#pdf-to-word
{
  margin-top: 30px;
  margin-bottom: 30px;
    

}

#word-to-pdf
{
  margin-bottom: 30px;
  padding: 0px;
}


#pdf-compressor
{
  margin-bottom: 30px;
  padding: 0px;
}

span{
    height: 60px;
    display: flex;
    padding: 10px 10px;
    align-items: center;
}
.buttonStyles {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 15px 32px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.buttonStyles:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.buttonStyles:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #0f0f10 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttonStyles:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/* .buttonStyles
{
 
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
} */
.buttonPtW {
    background-color: #4CAF50; 
  
  }

  .buttonWtP {
    background-color: #008CBA; 
  
  }

  .buttonPDFC
  {
    background-color: #B8C71B;
    padding:15px 21px;
  }

  .buttonIMGC
  {
    background-color: #F3391D;
    padding:15px 21px;

  }




  @media screen and (max-width: 700px) {

   
    #main-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #pdf-to-word
{
   margin-bottom: 20px;
   margin-right: 0px;

}
    

  }







/* CSS */
